.explore{
    background-image:url('https://images.pexels.com/photos/9142646/pexels-photo-9142646.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    -webkit-background-size:cover;
    min-height: 500px;
    background-attachment: fixed;
    color: rgb(245, 250, 249);
    font-weight: 800;
    display:flex;
    justify-content:center;
    align-items:center;
}