.add-product{
    background-image:url('https://images.pexels.com/photos/9534369/pexels-photo-9534369.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    -webkit-background-size:cover;
    min-height: 500px;
    background-attachment: fixed;
}


.form-custom input{
    height: 50px;
    width: 300px;
    text-align: center;
}